<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BuskFeed</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body class=>
  <h1 class="custom-h1">BuskFeed</h1>

  <nav>
    <ul>
      <li><a href="/events">All Events</a></li>
      <li><a href="/buskers">All Buskers</a></li>
      <li class="dropdown">
        <a class="dropbtn" href="/users/login">Login</a>
        <div class="dropdown-content">
          <a href="/buskers/manageprofiles">Manage Busker Profiles</a>
          <a href="/events/manageevents">Manage Events</a>
          <a href="/users/logout">Logout</a>
        </div>
      </li>
    </ul>
  </nav>