<%- include('../partials/header') %>

<h2> All Buskers</h2>
<ul>
  <% busker.forEach(b => { %>
  <li> <a href="/buskers/<%=b.id %>"><%= b.buskerName %></a></li>
  <br> <% }) %>
</ul>

<%- include('../partials/footer') %>